*{
    font-family: Arial, sans-serif ;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    height: 100%;
    width: 100%;
    display: table;
}
main{
    max-width: 1200px;
    height: 100%;
    padding: 20px;
    margin-bottom: -50px;
}
header{
    height: 60px;
    background-color: #14597f;
    display: flex;
    border-bottom: #0b2d3d solid 3px;
}
header nav{
    flex: 1;
    text-align: right;
}
header img{
    width: 300px;
    height: 50px;
    margin-top: 5px;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px ;
    padding-top: 10px;
}
a {
    text-decoration: none;
    color: #ffffff;
}
nav a:active{
    background-color: #1fb5e9;
    border-radius: 4px;
    border-style: solid 2px;
    padding: 5px 5px;
}
.fa-shopping-cart{
    color: #14597f;
}
.count{
    height:30px;
    width: 30px;
    background-color: #d9534f;
    border-radius: 50%;
    
}
.home-page{
    padding: 20px;
    display: flex;
    width: 100%;
}
.home-page img{
    float: right;
    width: 30%;
    margin: 0;
}
.footer, .push{
    height: 70px;
    text-align: center;
    background-color: #eeeeee;
    box-sizing: border-box;
    border-top: 1px #cccccc solid; 
    
}
.btn {
    background-color: #14597f;
    border: solid 1px;
    border-radius: 4px;
    padding: 10px 10px;
}
.btn:hover{
    cursor: pointer;
    background-color: #1fb5e9;
    text-decoration: none;
    transition: 0.2s;
}
.products-page{
    display: flex;
    position: relative;
}
.sidebar{
    width: 25%;
    height: 100%;
    padding: 20px;
}
.sidebar button{
    display: block;
    text-align: left;
    border: solid 1px;
    border-radius: 4px;
    border-color: #999999;
    padding: 10px 24px ;
    width: 100%;
}
.sidebar button:hover{
    cursor: pointer;
    background-color: #f3f3f3;
    transition: ease-out 0.2s;
}
.sidebar button::selection{
    background-color: #ddf2fb;
}
.products-page .sidebar h2{
    color: #000000;
    text-align: center;
    margin: 20px;
}
h2{
    color: #000000;
}
.products{
    position: flex;
    width: 75%;
    padding: 50px 0;
    
}
#products-list{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px;
    grid-gap: 50px;
}
#products-list p{
    color: #000000;
    font-size: 20px;
    text-align: right;
}
#products-list img{
    height: 200px;
    width: 100%;
}
.product-page{
    display: flex;
    position: relative;
    padding: 20px;
}
.product-page h2{
    margin-top: 50px;
}
.product{
    width: 300px;
    padding: 10px;
    border: solid 1px #999999;
    border-radius: 4px;
}
.left-column{
    width: 50%;
    float: left;
    height: 100%;

}
.left-column img{
    width: 100%;
}
.right-column{
    width: 50%;
    float: right;
    height: 100%;    
}
.right-column li{
    margin-left: 30px;
}
.product-form{
    margin: 10px;
    padding: 10px;
    width: 50%;
    float: right;
}
#product-quantity{
    border: 1px solid #999999;
    border-radius: 4px;
    width: 15%;
    height: 15%;
    text-align: center;
}
.form-control{
    background-color: #14597f;
    border: solid 1px;
    border-radius: 4px;
    padding: 10px 16px;
}
.form-control:hover{
    background-color: #1fb5e9;
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
}
.price{
    padding-top: 20px;
}
.contact p{
    padding-top: 15px;
}
.contact i{
    margin-left: 50px;
    font-size: 48px;
}
.contact{
    padding: 20px;
}
.contact-wrap{
    margin-top: 20px;
    margin-left: 30px;
    border: 1px #999999 solid;
    border-radius: 4px;
    display: table;
    width: 100%;
}
.col{
    display: table-cell;
    padding: 3rem;
    width: 33%;
}
.col:nth-child(odd) a{
    margin-top: 15px;
    color: #14597f;
}
.checkout-wrapper{
    position: flex;
    width: 100%;
    padding: 50px 0;
}
.checkout-wrapper table, th{
    border-bottom: solid 1px #000000;
}
.checkout-wrapper a{
    color: #14597f;
    padding-left: 10px;
}
.checkout-table{
    padding-top: 30px;
}
.checkout-table th:first-child{
    max-width: 30px;
}
.checkout-table button{
    width: 30px;
    background-color: #dddddd;
    border-radius: 3px;
}
.checkout-table button:hover{
    background-color: #bbbbbb;
}
.checkout-table th:nth-child(2){
    width: 40%;
    text-align: left;
    padding-left: 20px;
}
.checkout-table th:nth-child(3){
    width: 20%;
}
.checkout-table tbody td:nth-child(3){
    flex: 1;
    text-align: center;
}
.checkout-table th:nth-child(4){
    width: 20%;
}
.checkout-table tbody td:nth-child(4){
    flex: 1;
    text-align: center;
}
.checkout-table tbody td:nth-child(5){
    flex: 1;
    text-align: right;
}
.checkout-table th:nth-child(5){
    width: 30%;
}
.checkout-table tbody{
    padding: 50px;
}
.checkout-wrapper p{
    text-align: right;
    padding: 20px;
}
.order-button{
    float: right;
}
.order{
    height: 100%;
    padding: 20px;
    display: flex;
}
.order span{
    font-weight: bold;
}
.order form .details{
    display: table;
}
.order form input{
    width: 550px;
    height: 25px;
    border: solid 1px #999999;
    border-radius: 4px;
}
.input-box-left{
    display: table-cell;
    width: 50%;
    padding: 10px 50px;
}
.input-box-right{
    display: table-cell;
    width: 50%;
}
.order .btn{
    float: right;
}
.confirmation{
    padding: 20px;
}
.confirmation h1{
    margin-bottom: 20px;
}