*{
    font-family: Arial, sans-serif ;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    height: 100%;
    width: 100%;
    display: table;
}
header{
    height: 60px;
    background-color: #14597f;
    display: flex;
    border-bottom: #0b2d3d solid 3px;
}
header nav{
    flex: 1;
    text-align: right;
}
header img{
    width: 300px;
    height: 50px;
    margin-top: 5px;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px ;
    padding-top: 10px;
}
a {
    text-decoration: none;
    color: #ffffff;
}
nav a:active{
    background-color: #1fb5e9;
    border-radius: 4px;
    border-style: solid 2px;
    padding: 5px 5px;
}
.fa-shopping-cart{
    color: #14597f;
}
.count{
    height:30px;
    width: 30px;
    background-color: #d9534f;
    border-radius: 50%;
    
}
main{
    padding: 20px;
    display: flex;
    height: 100%;
}
main img{
    float: right;
    width: 40%;
    margin: 0;
}
.footer{
    height: 70px;
    text-align: center;
    background-color: #eeeeee;
    box-sizing: border-box;
    border-top: 1px #cccccc solid;
    width: 100%;
    bottom: 0;
    padding: 1rem;
    
}
.btn {
    background-color: #14597f;
    border: solid 1px;
    border-radius: 4px;
    padding: 10px 10px;
}
.btn:hover{
    background-color: #1fb5e9;
    text-decoration: none;
    transition: 0.2s;
}
main{
    display: flex;
    position: relative;
}
.sidebar{
    width: 25%;
    height: 100%;
    padding: 20px;
}
.sidebar button{
    display: block;
    text-align: left;
    border: solid 1px;
    border-radius: 4px;
    border-color: #999999;
    padding: 10px 24px ;
    width: 100%;
}
.sidebar button:hover{
    cursor: pointer;
    background-color: #f3f3f3;
    transition: ease-out 0.2s;
}
.sidebar button::selection{
    background-color: #ddf2fb;
}
main .sidebar h2{
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}
h2{
    color: #000000;
}
article{
    position: flex;
    width: 75%;
    padding: 50px 0;
}
#products-list{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px;
    grid-gap: 50px;
}
#products-list p{
    color: #000000;
    font-size: 20px;
    text-align: right;
}
#products-list img{
    height: 200px;
    width: 100%;
}
.product-1{
    width: 300px;
    padding: 10px;
    border: solid 1px #999999;
    border-radius: 4px;
}
.product-2{
    width: 300px;
    padding: 10px;
    border: solid 1px #999999;
    border-radius: 4px;
}
.product-3{
    width: 300px;
    padding: 10px;
    border: solid 1px #999999;
    border-radius: 4px;
}
.product-4{
    width: 300px;
    padding: 10px;
    border: solid 1px #999999;
    border-radius: 4px;
}
.product-5{
    width: 300px;
    padding: 10px;
    border: solid 1px #999999;
    border-radius: 4px;
}
.product-6{
    width: 300px;
    padding: 10px;
    border: solid 1px #999999;
    border-radius: 4px;
}
.left-column{
    width: 50%;
    float: left;
    height: 100%;

}
.left-column img{
    width: 100%;
}
.right-column{
    width: 50%;
    float: right;
    height: 100%;    
}
.right-column li{
    margin-left: 30px;
}
form{
    margin: 10px;
    padding: 10px;
    width: 50%;
    float: right;
}
.form-control{
    border: 1px solid #999999;
    border-radius: 4px;
    width: 10%;
    text-align: center;
}
form button{
    background-color: #14597f;
    border: solid 1px;
    border-radius: 4px;
    padding: 10px 16px;
}
form button:hover{
    background-color: #1fb5e9;
    text-decoration: none;
    transition: 0.2s;
}
.price{
    padding-top: 20px;
}

